* h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 28px;
}

* p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.c-backgroundimg {
  background-image: url(/assets/img/BackgroundImg.jpg);
  background-position: center;
  background-size: cover;
}

.navbar {
  padding: 0;
}

.c-nav {
  background-color: #383842;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.c-nav__logo {
  padding: 0px 25px;
  display: block;
  margin: 0;
  width: 20%;
}

.c-nav__logo-txt {
  color: white;
  font-weight: bold;
  padding: 14px 4px 0 8px;
  font-size: 10px;
}

.c-nav__img {
  width: 100%;
}

.c-nav__link {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  padding: 1rem;
  font-size: 16px;
}

.c-nav__link:hover {
  color: #208CA6;
}

.c-nav__link--tickets {
  background-color: #208CA6;
  border-radius: 2rem;
  margin-right: 3rem;
}

.c-nav__link--tickets:hover {
  color: #FFFFFF !important;
}

.c-nav__link--tickets:active {
  background-color: #114E5D;
}

.c-home {
  margin-top: -50px;
}

.c-home__text {
  padding-top: 2rem;
}

.c-home__img-img {
  width: 100%;
}
