$primary: #f4efea;
$secondary: #383842;
$accent:#208CA6;
$accentOpacity: rgba(32, 140, 166, 0.5);
$hover:#114E5D;
$disabled: #68B0C1;
$textlight: #FFFFFF;
$textdark: #000000;

* {
    h1 {
        font-family: 'Montserrat Subrayada',
            sans-serif;
        font-size: 28px;
        padding: 1rem 0;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 14px;
    }
}

.c-backgroundimg {
    background-image: url(/assets/img/BackgroundImg-02.jpg);
}

// navbar bootstrap
.navbar {
    padding: 0;
}

.c-nav {
    background-color: $secondary;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    &__logo {
        padding: 0px 25px;
        display: block;
        margin: 0;
        width: 20%;

        &-txt {
            color: white;
            font-weight: bold;
            padding: 14px 4px 0 8px;
            font-size: 10px;
        }
    }

    &__img {
        width: 100%;
    }

    &__link {
        text-decoration: none;
        color: $textlight;
        font-weight: bold;
        padding: 1rem;
        font-size: 16px;

        &:hover {
            color: $accent
        }

        &--tickets {
            background-color: $accent;
            border-radius: 2rem;
            margin-right: 3rem;

            &:hover {
                color: $textlight !important;
            }

            &:active {
                background-color: $hover;
            }
        }
    }
}

.c-home {
    margin-top: -60px;
    margin-bottom: 3rem;

    &__text {
        padding-top: 2rem;
    }

    &-img {
        &__img {
            width: 100%;
        }
    }
}

.c-vr {
    background-color: $secondary;
    color: $textlight;

    &-img {
        &__img {
            width: 100%;
            padding: 3rem;
        }
    }

    &-txt {
        padding: 3rem 0;

        &__title {
            text-align: center;
        }

        &__p {
            padding: 0 1rem;
        }
    }
}

.c-spacer-vr {
    margin-top: -85px;
}